---
const { roteiro } = Astro.props;
import { CATEGORIAS } from "../data/categorias";

const categoria = CATEGORIAS.find(c => c.id === roteiro.categoria);
const iconPath = categoria?.icon;
---

<a href={`/roteiros/${roteiro.slug}`}
   class="group border bg-neutral-800/40 border-neutral-700 hover:border-neutral-400 transition rounded-lg p-2 flex flex-row items-center justify-between"
>
  <div class="shrink-0 w-38 h-38 mr-4 flex items-center justify-center">
    {roteiro.imagem && (
      <img
        src={roteiro.imagem}
        alt={roteiro.titulo}
        class="w-full h-full object-contain rounded-lg"
        loading="lazy"
      />
    )}
  </div>
  <div class="flex-1 flex flex-col justify-between">
    <div>
      <div class="flex items-center justify-between mb-2">
        <h3 class="text-xl font-serif group-hover:underline m-0">
          {roteiro.titulo}
        </h3>
      </div>
      <p class="text-neutral-400 text-sm mb-4">
        {roteiro.subtitulo}
      </p>
    </div>
    <div class="text-sm text-neutral-300 space-y-1">
      <span class="flex items-center">
        <img src={iconPath} alt={categoria?.label} width="16" height="16" class="inline-block mr-1 align-middle" style="filter: invert(80%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(90%) contrast(90%);" />
        {categoria && categoria.label}
      </span>
      <span class="flex items-center">
        {roteiro.regiao}
      </span>
      <span>
        {roteiro.distancia} · {roteiro.duracao}
      </span>
    </div>
  </div>
</a>