---
import { CONQUISTAS_TIPO } from "../data/conquistas_tipo";

const { c } = Astro.props;
const tipo = CONQUISTAS_TIPO.find(t => t.id === c.tipo);
---

<a href={`/conquistas/${c.slug}`}
    class="group border bg-neutral-800/40 border-neutral-700 hover:border-neutral-400 transition rounded-lg p-2 flex flex-row items-center justify-between"
>
  <div class="shrink-0 w-24 h-24 mr-4 flex items-center justify-center">
    {c.imagem && (
    <img src={c.imagem} alt={c.name} class="w-24 h-24 object-cover rounded-lg shrink-0" />
    )} 
  </div>
  <div class="flex-1 flex flex-col justify-between">
    <div>
      <div class="flex items-center gap-3">
        {tipo ? (
            <>
            <img src={tipo.icon} alt={tipo.label} class="w-6 h-6 opacity-80" />
            <span class="text-xs uppercase tracking-wider text-neutral-400">
                {tipo.label}
            </span>
            </>
        ) : (
            <> 
            <span class="w-6 h-6 opacity-80 inline-block bg-neutral-700 rounded"></span>
            <span class="text-xs uppercase tracking-wider text-neutral-400">
                Tipo desconhecido
            </span>
            </>
        )}
      </div>
    </div>
    <h2 class="text-lg font-medium">{c.name}</h2>
    <p class="text-sm text-neutral-500 mt-1">
        {c.city}, {c.state} • {c.country}
    </p>
  </div>
</a>